{% extends "/templates/standard.html.twig" %}

{% block content %}

<div class="COMMON_HEADER">
    <div class="TOP_ROW">
        <select name="" id="">
            {% for season in leagueData.seasons|reverse %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="MAIN_ROW">
        <img src="{{ leagueData.logo }}" alt="premier-league-logo">
        <h1>{{ leagueData.name }}</h1>
        <h3>{{ leagueData.country }}</h3>
    </div>
    
    <div class="BOT_ROW">
        <ul>
            <li><a href="">Oversikt</a></li>
            <li><a href="">Kamper</a></li>
            <li><a href="">Tabell</a></li>
            <li><a href="">Stats</a></li>
        </ul>
    </div>
</div>
    
<div class="PAGE_CONTAINER">
    <main class="PAGE_CONTENT">
        <section class="MAIN_SECTION">
            <section class="XXXX">
                <h2>Alle Kamper</h2>
                <a href="">Gå til Kamper -></a>
                <div>Her kommer en liten oversikt over dagens/nærmeste kamper</div>
            </section>

            <section class="XXXX">
                <h2>Topplister</h2>
                <a href="">Mer statistikk -></a>

                <div class="">
                    <a href="">Toppscorer</a>

                    {% for player in topscorerData %}
                        <div>
                            <a href="">
                                <img src="{{player.photo}}" alt="player image">
                            </a>
                            <span>{{player.name}}</span>
                            <img src="{{player.teamLogo}}" alt="team logo">
                            <span>{{player.goals}}</span>
                        </div>
                    {% endfor %}
                </div>

                <div>-------------------</div>

                <div class="">
                    <a href="">Målgivende</a>
                    
                    {% for player in topassistsData %}
                        <div>
                            <a href="">
                                <img src="{{player.photo}}" alt="player image">
                            </a>
                            <span>{{player.name}}</span>
                            <img src="{{player.teamLogo}}" alt="team logo">
                            <span>{{player.assists}}</span>
                        </div>
                    {% endfor %}
                </div>

                <div>-------------------</div>

                <div class="">
                    <a href="">Gule kort</a>
                
                    {% for player in yellowcardsData %}
                        <div>
                            <a href="">
                                <img src="{{player.photo}}" alt="player image">
                            </a>
                            <span>{{player.name}}</span>
                            <img src="{{player.teamLogo}}" alt="team logo">
                            <span>{{player.yellowcards}}</span>
                        </div>
                    {% endfor %}
                </div>
                
                <div>-------------------</div>
                
                <div class="">
                    <a href="">Røde kort</a>
                
                    {% for player in redcardsData %}
                        <div>
                            <a href="">
                                <img src="{{player.photo}}" alt="player image">
                            </a>
                            <span>{{player.name}}</span>
                            <img src="{{player.teamLogo}}" alt="team logo">
                            <span>{{player.redcards}}</span>
                        </div>
                    {% endfor %}
                </div>
                

            </section>
        </section>

        <aside class="ASIDE_SECTION">
            <h2>Tabell</h2>
            <a href="">Gå til tabell -></a>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Logo</th>
                        <th>Club</th>
                        <th>P</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                        <th>Points</th>
                        <th>Form</th>
                    </tr>
                </thead>
                <tbody>
                    {% for standing in standingData %}
                        <tr>
                            <td>{{ standing.rank }}</td>
                            <td><img src="{{ standing.logo }}" alt="{{ standing.name }} logo" width="50" height="50"></td>
                            <td>{{ standing.name }}</td>
                            <td>{{ standing.played }}</td>
                            <td>{{ standing.win }}</td>
                            <td>{{ standing.draw }}</td>
                            <td>{{ standing.lose }}</td>
                            <td>{{ standing.goalsFor }}</td>
                            <td>{{ standing.goalsAgainst }}</td>
                            <td>{{ standing.goalsDiff }}</td>
                            <td>{{ standing.points }}</td>
                            <td>{{ standing.form }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </aside>
    </main>
</div>

{% endblock %}
